html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
  }

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.container-lg {
    max-width: 1620px;
    width: 100%;
    /* padding-right: 50px; */
    margin: 0 auto;
}

.container{
    max-width: 1590px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #FFF;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 39.6px;
}

.header{
    padding-top: 56px;
    max-width: 1919px;
    width: 100%;
}

.header__inner {
    padding-right: 50px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
}
.menu__list{
    display: flex;
    gap: 57px;
    font-size: 20px;
}

.menu__item:hover{
    color: #FF5324;
    text-decoration: underline;
    transition: all .3s;
}

.header__serch{
    display: flex;
    gap: 40px;
}

.bigger{
    background: #F9F6F4;
    position: relative;
    
}

.bigger::after{
  content: '';
  background-image: url(../images/Line\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 2px;
  height: 178px;
  left: 78px;
  top: 59%;
  transform: translateY(-50%);
  position: absolute;
}

.bigger__inner {
    padding-left: 95px;
}

.bigger__title{
    font-size: 78px;
    font-weight: 700;
    line-height: 140%;
    padding-top: 186px;
}



.bigger__title span{
    color: #F54C1E;
}

.bigger__content{
    display: flex;
    gap: 29px;
}
.bigger__images-big{
    max-width: 480px;
    width: 100%;
}

.bigger__images-better{
    width: 100%;
    max-width: 367px;
    padding-top: 69px;
}

 .better__text{
    font-size: 16px;
    
} 

.creative{
    padding-top: 191px;
}

.creative__title{
    font-size: 64px;
    font-weight: 700;
    max-width: 590.413px;
    line-height: 150.5%;
}

.creative__title span{
    color: #F54C1E;
}

.creative__inner{
    padding-left: 95px;
}


.creative__text{
    max-width: 808.141px;
    margin-bottom: 55px;
}

.creative__images-img--2{
    margin-top: 62px;
}

.creative__images{
    display: flex;
    gap: 51px;
}

.creative__images-img{
    width: 100%;
    max-width: 560px;
}
