html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
  }

.wrapper {
    width: 100%;
    overflow: hidden;  
}

.container-lg {
    max-width: 1620px;
    width: 100%;
    /* padding-right: 50px; */
    margin: 0 auto;
}

.container{
    max-width: 1590px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #FFF;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 39.6px;
}

.header{
    padding-top: 56px;
    max-width: 1919px;
    width: 100%;
}

.header__inner {
    padding-right: 50px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
}
.menu__list{
    display: flex;
    gap: 57px;
    font-size: 20px;
}

.menu__item:hover{
    color: #FF5324;
    text-decoration: underline;
    transition: all .3s;
}

.header__serch{
    display: flex;
    gap: 40px;
}

.bigger{
    background: #F9F6F4;
    position: relative;
    
}

.bigger::after{
  content: '';
  background-image: url(../images/Line\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 2px;
  height: 178px;
  left: 78px;
  top: 59%;
  transform: translateY(-50%);
  position: absolute;
}

.bigger__inner {
    padding-left: 95px;
}

.bigger__title{
    font-size: 78px;
    font-weight: 700;
    line-height: 140%;
    padding-top: 186px;
}

.bigger__text{
    max-width: 604px;
}


.bigger__title span{
    color: #F54C1E;
}

.bigger__content{
    display: flex;
    gap: 29px;
}
.bigger__images-big{
    max-width: 480px; 
    width: 100%;
}

.bigger__images-better{
    width: 100%;
    max-width: 367px;
    padding-top: 69px;
   
}

 .better__text{
    font-size: 16px;
    
} 

.creative{
    padding-top: 191px;
}

.creative__title{
    font-size: 64px;
    font-weight: 700;
     max-width: 590.413px; 
    line-height: 150.5%;
}

.creative__title span{
    color: #F54C1E;
}

.creative__inner{
    padding-left: 237px;
}


.creative__text{
    max-width: 808.141px;
    margin-bottom: 55px;
}

.creative__images-img--2{
    margin-top: 62px;
}

.creative__images{
    display: flex;
    gap: 51px;
}

.creative__images-img{
    width: 100%;
    max-width: 560px;
}

.information{
    display: flex;
    justify-content: center;
    margin-top: 160px;
    margin-left: 260px;
    width: 1172px;
    height: 210px;
    padding: 66px 41px;
    background: #F55529;
    position: relative;
}
.information::before {
    content: "";
    position: absolute;
    top: 18px;
    width: 1207px;
    height: 210px;
    background-image: url(../images/Frame\ 5.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.information img{
    max-width: 100%;
}



.information__contacts{
    display: flex;
    gap: 26px;
    justify-content: center;
    color: #FFF;
}

.information__happy{
    text-align: right;
    font-size: 30px;
    
}

.worcs{
    padding-top: 178px;
}
.worcs__inner{
    padding-left: 95px;
}

.worcs__content{
    display: flex;
    gap: 226px;
    justify-content: center;
}

.worcs__title{
    font-size: 64px;
    font-weight: 700;
    text-decoration: underline;
}



.worcs__title span{
    color: #F55529;
    text-decoration: underline;
    text-decoration-color: #F55529;
}






.worcs__text{
    max-width: 517px;
    margin-bottom: 86px;
}

.worcs__images{
    display: flex;
    gap: 39px;
    justify-content: center;
}
.worcs__images-img img{
    width: 100%;
    max-width: 377px;
    border: 1px solid #000;
    box-shadow: 0px 11px 52px 0px rgba(0, 0, 0, 0.25);
}

.images__text{
    text-align: center;
}

.visitors{
    padding-top: 164px;
}

.visitors__inner{
    display: flex;
    gap: 168px;
    justify-content: center;
}

.visitors__title{
    font-size: 50px;
    max-width: 492px;
    font-weight: 700;
    line-height: 150.5%;
    margin-bottom: 21px;
    text-decoration: underline;
}

.visitors__title span{
    color: #F55529; 
    text-decoration: underline;
    text-decoration-color: #F55529;
}

.visitors__text{
    font-weight: 500;
    max-width: 571px;
}

.visitors__img{
   width: 100%;
    max-width: 425px;
}

.conect{
    position: relative;
    background-image: url(../images/conect.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1919px;
    height: 636px;
    padding-top: 172px;
    margin-top: 128px;
}

.conect::before{
    content: "";
    background-image: url(../images/icon-conect.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 152px;
    height: 152px;
    bottom: 52px;
    right: 80px;
}


.conect__title{
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 150.5%;
    max-width: 869px;
    margin-bottom: 21px;
}

.conect__text{
    color: #FFF;
    text-align: center;
    font-weight: 500;
    max-width: 670px;
    margin: 0 auto;
}

.conect__inner{
    display: flex;
   justify-content: center;
}

.ourawards{
    padding-top: 124px;
}

.ourawards__title{
    font-size: 50px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 72px;
    padding-left: 181px;
}

.ourawards__subtitle{
    display: flex;
    justify-content: center;
}

.ouravards__see{
    display: flex;
}

.ourawards__slogan{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
}

.slogan__txet{
    display: flex;
    color: #979797;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 79px;
}


.ourawards__line{
    max-width: 1159px;
    height: 1px;
    background: #000;
    margin: -15px 0 0 142px;
    padding-left: 181px;
}


